<b>Назначение:</b> Разбиение датасета на train/test-части

In [15]:
from PIL import Image
import pandas as pd
import torch
from tqdm import tqdm
from collections import Counter
from sklearn.model_selection import train_test_split

IMAGES_INFO_TABLE = '../data/images_info.csv'

In [16]:
images_info = pd.read_csv(IMAGES_INFO_TABLE, sep=';')

In [17]:
images_info

      images_name       relative_path   label
0      157771.jpg  data/celeba_images    male
1      176891.jpg  data/celeba_images  female
2      093189.jpg  data/celeba_images  female
3      065340.jpg  data/celeba_images    male
4      059188.jpg  data/celeba_images  female
...           ...                 ...     ...
49995  000632.jpg  data/celeba_images  female
49996  080174.jpg  data/celeba_images    male
49997  021604.jpg  data/celeba_images    male
49998  163387.jpg  data/celeba_images    male
49999  145640.jpg  data/celeba_images    male

[50000 rows x 3 columns]

In [18]:
X_train, X_test, _, _ = train_test_split(list(range(images_info.shape[0])), images_info['label'], 
                                                    test_size=0.2, random_state=42, shuffle=True, 
                                                    stratify=images_info['label'])

In [19]:
images_info['part'] = None
images_info.loc[X_train,'part'] = 'train'
images_info.loc[X_test,'part'] = 'test'

In [20]:
print(Counter(images_info['part']))

Counter({'train': 40000, 'test': 10000})

In [22]:
print("train: ",Counter(images_info[images_info['part'] == 'train']['label']))
print("test: ",Counter(images_info[images_info['part'] == 'test']['label']))

train:  Counter({'female': 23001, 'male': 16999})
test:  Counter({'female': 5750, 'male': 4250})

In [23]:
images_info.to_csv("../data/images_info.csv", sep=';', index=False)